{{- $i := mod (.i | default 0) 4 -}}
{{- $class := .class | default "card-art" -}}
{{- if eq $i 0 -}}
<svg class="{{ $class }}" viewBox="0 0 300 180" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <rect width="300" height="180" fill="#F4F7F4"/>
  <circle cx="230" cy="55" r="26" fill="#C98A2B"/>
  <g stroke="#C98A2B" stroke-width="4" stroke-linecap="round">
    <path d="M230 10v10M275 55h10M185 55h10M262 22l7-7M198 87l-7 7M262 87l7 7M198 22l-7-7"/>
  </g>
  <rect x="20" y="120" width="240" height="4" fill="#2F6F62" opacity=".5"/>
</svg>
{{- else if eq $i 1 -}}
<svg class="{{ $class }}" viewBox="0 0 300 180" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <rect width="300" height="180" fill="#EFEFE6"/>
  <g fill="none" stroke="#1E2A24" stroke-width="2">
    <rect x="40" y="60" width="50" height="32"/>
    <rect x="95" y="60" width="50" height="32"/>
    <rect x="150" y="60" width="50" height="32"/>
    <rect x="205" y="60" width="50" height="32"/>
  </g>
  <path d="M40 60l50 32M90 60l-50 32M95 60l50 32M145 60l-50 32M150 60l50 32M200 60l-50 32M205 60l50 32M255 60l-50 32" stroke="#C98A2B" stroke-width="1" opacity=".6"/>
</svg>
{{- else if eq $i 2 -}}
<svg class="{{ $class }}" viewBox="0 0 300 180" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <rect width="300" height="180" fill="#F4F7F4"/>
  <path d="M20 140L80 100L140 120L210 60L280 40" stroke="#2F6F62" stroke-width="4" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
  <circle cx="280" cy="40" r="6" fill="#C98A2B"/>
</svg>
{{- else -}}
<svg class="{{ $class }}" viewBox="0 0 300 180" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <rect width="300" height="180" fill="#EFEAE0"/>
  <path d="M150 30v120M100 90h100" stroke="#1E2A24" stroke-width="3"/>
  <circle cx="150" cy="90" r="34" fill="none" stroke="#2F6F62" stroke-width="4"/>
  <circle cx="150" cy="90" r="8" fill="#C98A2B"/>
</svg>
{{- end -}}
